<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div style="width: 500px">
<h3>Remove Staff</h3>
<h3>Bạn có muốn xóa người này không</h3>
</div>
<div id="form">
    <form th:action="@{/staff/delete}" th:object="${staffDelete}"
          method="POST" novalidate="novalidate">
        <div hidden>
            <label>Id</label>
            <input type="text" th:field="*{idStaff}"/>
        </div>
        <div>
            <label>Employee</label>
            <input type="text" readonly th:field="*{staffCode}"/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" readonly th:field="*{staffName}"/>
        </div>
        <div>
            <label>Age</label>
            <input type="text" readonly th:field="*{staffAge}"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" readonly th:field="*{salary}"/>
        </div>
        <div>
            <label>Branch</label>
            <input type="text" readonly name="branch" th:value="${staffDelete.branch.getNameBranch()}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
        <a th:href="@{/staff}">
            <button style="background-color: #4CAF50; width: 300px;height: 46px" >Back</button>
        </a>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
